/* Colfax */
@font-face {
  font-family: colfax;
  font-weight: 400;
  src: 'url(assets/fonts/Colfax/Colfax-Regular.woff2)' format('woff2');
}
@font-face {
  font-family: colfax;
  font-weight: 700;
  src: 'url(assets/fonts/Colfax/Colfax-Bold.woff2)' format('woff2');
}

/* BlenderPro (mono) */
@font-face {
  font-family: blenderpro;
  font-weight: 500;
  src: 'url(assets/fonts/BlenderPro/BlenderPro-Medium.woff2)' format('woff2');
}
@font-face {
  font-family: blenderpro;
  font-weight: 700;
  src: 'url(assets/fonts/BlenderPro/BlenderPro-Bold.woff2)' format('woff2');
}

:root {
  // Variables
  --multiplier: 6px;
  --color: rgb(255 255 255 / 100%);
  --font-family: 'colfax', sans-serif;
  --font-family-mono: 'blenderpro', monospace;
  --background-color: #171717;


  // Color
  color-scheme: dark;
  color: var(--color);
  background-color: var(--background-color-dark);

  // Font
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}